<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update - <%= user.name %></title>
</head>
<body>
    <form action="/update/user/<%= user._id %>" method="POST">
        <label for="name">Name:</label><br/>
        <input type="text" value="<%= user.name %>" name="name" id="name" /><br/>
        <label for="age">Age:</label><br/>
        <input type="text" value="<%= user.age %>" name="age" id="age" /><br/>
        <label for="email">Email:</label><br/>
        <input type="email" value="<%= user.email %>" name="email" id="email" /><br/>
        <button>Update</button>
    </form>
</body>
</html>