<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table>
        <tr>
            <th>Users</th>
            <th>Age</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <% users.forEach(user => { %>
            <tr id="<%= user._id %>">
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/update/user/<%= user._id %>">🖋️</a>
                </td>
                <td>
                    <button onClick="deleteUser('<%= user._id %>')">❌</button>
                </td>
            </tr>
        <% }) %>
    </table><br/><br/>
    <script src="/scripts/users.js"></script>
</body>
</html>